<div class="container">
  
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Hello Friends!</h1>
	
        <p>Login or Register with:</p>
        
	<a href="/sign-in" class="btn btn-default"><span class="fa fa-user"></span> sing in</a>
        <a href="/sign-up" class="btn btn-default"><span class="fa fa-user"></span> Sign up</a>
	

    </div>
</div>
